body{
	font-family: arial, helvetica;
	background: #e8e8e8;
}

.menu{
	list-style: none;
	padding: 0;
	background: #092327;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	text-align: center;
	font-style: italic;


}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 35px;
	display: block;
	
	
}

.menu li{
	display: inline-block;
	text-align: center;
	
}

.menu li a:hover{
	background: #1b8dd8;
}

body{
    margin: 0;
    padding: 0;
    background: url(imagenes/fondo.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

h1{

	color: #c3d0f7; font-size: 22px;
	text-align: center;
	padding: 50px;
	

}

h2{
	color: #e8e8e8; font-size: 21px;
	text-align: center;

}

h3{
	color: #e8e8e8; font-size: 20px;
	text-align: center;
	max-width: 1000px;
		margin: auto;


	


}
img {
	
	margin: 25px 0 25px 5px;
	border-radius: 8px;
	display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 7%;
	
	}

	